$primaryColor: #fafafa;
$secondaryColor: #a4917e;
$thirdColor: #d4c8bb;
$fourthColor: #edebe8;
$yellow: #efd567;

/*
Modal
 */

$borderModal: rgba(178, 165, 152, 0.5);
$modalBackground: #edeae6;
$tableCellDark: #c8bfb6;
$tableCellLight: #e3ded8;