.modal {
  .MuiDialog-paper {
   background: $borderModal;
    padding: 40px;
    @include sm {
      margin: 0;
      padding: 20px;
      width: 100%;
    }
    .modal-container {
      background: $modalBackground;
      @include sm {
        padding: 10px;
      }
      .modal-title {
        padding-top: 0;
        h2 {
          font-size: 30px;
          text-transform: uppercase;
          @include font-bold;
        }
      }
      svg {
        position: absolute;
        top: 60px;
        right: 60px;
        font-size: 2rem;
        color: $secondaryColor;
        @include sm {
          top: 30px;
          right: 30px;
        }
      }
      .modal-sections-container {
        margin-bottom: 2rem;
        .modal-section {
          .top {
            border-bottom: 2px solid $secondaryColor;
            padding-bottom: 1rem;
          }
          .bottom {
            padding-top: 2rem;
            @include md {
              border-bottom: 2px solid $secondaryColor;
              padding-bottom: 1rem;
              margin-bottom: 2rem;
            }
          }
        }
        .first {
          border-right: 2px solid $secondaryColor;
          @include md {
            border: none;
          }
        }
        .second {
          .bottom:last-of-type {
            @include md {
              border: none;
            }
          }
        }
        .first, .second {
          .item {
            padding: 0 2rem;
            .modal-subtitle {
              font-size: 25px;
              @include font-light;
              text-transform: uppercase;
              span {
                color: $secondaryColor;
                @include font-bold;
              }
            }
            ul.modal-list {
              li {
                p:first-child {
                  min-width: 70%;
                  @include font-light;
                }
                span {
                  @include font-light;
                }
                span.esg {
                  color: $yellow;
                  font-size: 20px;
                }
                span.risque {
                  color: orange;
                  @include font-bold;
                }
              }
            }
            ul.modal-list.secondaire {
              li {
                span {
                  @include font-bold;
                }
              }
            }
          }
        }
      }
      .document-link, .search-link {
        text-align: right;
      }
      .modal-paragraphe {
        padding: 1rem;
        line-height: 2;
        @include font-light;
      }
    }
  }
}