.table-root {
  width: 100%;
  overflow-x: auto;
  table.table-main {
    margin: 1rem 0;
    min-width: 600px;
    thead {
      tr {
        th {
          font-size: 16px;
          @include font-bold;
          svg {
            margin: 0;
          }
          .active {
            color: $secondaryColor;
            svg {
              color: $secondaryColor !important;
            }
          }
        }
      }
    }
    tbody {
      tr {
        &:hover {
          cursor: pointer;
        }
        &:nth-child(odd) {
          background-color: $fourthColor;
        }
        td {
          font-size: 15px;
          @include font-light;
          text-transform: uppercase;
          border-right: 1px solid $thirdColor;
          border-bottom: none;
          &.table-stars {
            min-width: 110px;
          }
          .MuiGrid-container {
            flex-wrap: nowrap;
            & > div {
              padding: 0 5px;
            }
          }
          &.doc {
            text-align: center;
            img {
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
  table.table-main.modal {
    min-width: auto;
    thead {
      tr {
        th {
          @include font-light;
        }
        th:nth-child(odd) {
          background-color: $tableCellDark;
        }
        th:nth-child(even) {
          background-color: $tableCellLight;
        }
      }
    }
    tbody {
      tr {
        td {
          @include font-bold;
        }
        td:nth-child(odd) {
          background-color: $tableCellDark;
        }
        td:nth-child(even) {
          background-color: $tableCellLight;
        }
      }
    }
  }
}
