body {
  @include font-regular;
  background: $primaryColor;
  .page-container {
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 2rem;
    @include md {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

}

h1 {
  font-size: 30px !important;
  @include font-light;
}

/*
Star Icons
 */

.favori-star-container {
  align-items: center;
  .favoris, .pas-favoris {
    width: 2rem;
    height: 1.5rem;
    &.star {
      background-position-y: center;
    }
  }

  .favoris {
    background: no-repeat url("../../assets/icons/etoile-jaune.png");
  }
  .pas-favoris {
    background: no-repeat url("../../assets/icons/etoile-jaune-vide.png");
  }
  .favoris-title {
    padding-left: 1.5rem !important;
  }
}

.morningStar {
  width: 1rem;
  height: 1.5rem;
  background: no-repeat url("../../assets/icons/etoile-pleine copie-secondaire.png");
  display: inline-block;
  padding: 0 3px ;
}
.morningStarEmpty {
  width: 1rem;
  height: 1.5rem;
  background: no-repeat url("../../assets/icons/etoile-vide-secondaire.png");
  display: inline-block;
  padding: 0 3px ;
}