.header-tab-container {
  .header-tab-item {
    background-color: $secondaryColor;
    //border-top: 100px solid red;
    //border-left: 25px solid transparent;
    //border-right: 25px solid transparent;
    //height: 0;
    //width: 100px;
    &.Mui-selected {
      border: 2px solid $secondaryColor;
      border-top: 0;
      background-color: white;
      span {
        color: $secondaryColor;
        @include font-bold;
        font-size: 18px;
      }
    }
    span {
      color: white;
      @include font-bold;
      font-size: 18px;
      flex-direction: row;
      svg {
        margin-right: 5px;
        margin-top: 5px;
        color: $yellow;
      }
    }
  }
  .MuiTabs-indicator {
    display: none;
  }
}
