.header-search-bar {
  background-color: $thirdColor;
  margin-left: 5rem;
  position: relative;
  color: black;
  @include md {
    margin-left: 0;
  }
  @include sm {
    padding: 16px;
  }
  .header-search-container {
    padding: 1rem 2rem;
    @include sm {
      padding: 1rem;
    }
    .header-search-filter {
      label, .MuiFormControlLabel-label {
        @include font-light;
        font-size: 16px;
      }
      .header-search-label {
        display: inline-flex;
        align-items: center;
        margin-right: 2rem;
        color: black;
      }
      .Mui-checked {
        color: $secondaryColor !important;
      }
      .MuiRadio-colorSecondary {
        &:hover {
          background: $borderModal;
        }
      }
    }
    .header-search-input {
      flex-wrap: nowrap;
      .header-search-field {
        background-color: white;
        padding: 5px 10px;
        input::placeholder {
          font-size: 16px;
        }
      }
      .header-search-icon {
        height: auto;
        min-width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $secondaryColor;
        & svg {
          font-size: 2rem;
          color: white;
        }
        button {
          padding: 5px 12px;
          &:hover {
            background: $secondaryColor;
            svg {
              color: $thirdColor;
            }
          }
        }
      }
    }
  }
}
