header.header-top {
  box-shadow: none;
  background: none;
  .header-container {
    background-color: $primaryColor;
    border-bottom: 2px solid $secondaryColor;
    padding-left: 3rem;
    .header-main-grid {
      padding: 1rem 2rem;
      .header-connexion {
        text-align: end;
      }
    }
  }
}
