header.header-top {
  box-shadow: none;
  background: none;
  .header-container {
    background-color: $primaryColor;
    border-bottom: 2px solid $secondaryColor;
    padding-left: 3rem;
    @include sm {
      padding: 0;
    }
    .header-main-grid {
      padding: 0 2rem;
      @include sm {
        padding: 1rem;
      }
      a {
        &:hover {
          background-color: transparent;
        }
      }
      .header-connexion {
        text-align: end;
        button {
          padding-top: 15px;
          &:hover {
            background: $borderModal;
          }
        }
      }
    }
  }
}

#main-menu {
  .MuiMenu-paper {
    border-radius: 0;
    .MuiMenu-list {
      background: $modalBackground;
      padding: 0;
      border: 1px solid $secondaryColor;
      li {
        @include font-light;
        font-size: 14px;
        padding: 1rem 5rem 1rem 1rem;
        text-transform: uppercase;
        &:hover {
          background-color: $secondaryColor;
          color: white;
          @include font-bold;
        }
      }
    }
  }
}
