/****************
@import variables
 ****************/
@font-face {
  font-family: "TSTARPRO-Bold";
  src: url("fonts/TSTARPRO-Bold.eot");
  src: url("fonts/TSTARPRO-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-Bold.woff") format("woff"), url("fonts/TSTARPRO-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-BoldItalic";
  src: url("fonts/TSTARPRO-BoldItalic.eot");
  src: url("fonts/TSTARPRO-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-BoldItalic.woff") format("woff"), url("fonts/TSTARPRO-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-Headline";
  src: url("fonts/TSTARPRO-Headline.eot");
  src: url("fonts/TSTARPRO-Headline.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-Headline.woff") format("woff"), url("fonts/TSTARPRO-Headline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-Italic";
  src: url("fonts/TSTARPRO-Italic.eot");
  src: url("fonts/TSTARPRO-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-Italic.woff") format("woff"), url("fonts/TSTARPRO-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-Light";
  src: url("fonts/TSTARPRO-Light.eot");
  src: url("fonts/TSTARPRO-Light.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-Light.woff") format("woff"), url("fonts/TSTARPRO-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-LightItalic";
  src: url("fonts/TSTARPRO-LightItalic.eot");
  src: url("fonts/TSTARPRO-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-LightItalic.woff") format("woff"), url("fonts/TSTARPRO-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-Medium";
  src: url("fonts/TSTARPRO-Medium.eot");
  src: url("fonts/TSTARPRO-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-Medium.woff") format("woff"), url("fonts/TSTARPRO-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-MediumItalic";
  src: url("fonts/TSTARPRO-MediumItalic.eot");
  src: url("fonts/TSTARPRO-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-MediumItalic.woff") format("woff"), url("fonts/TSTARPRO-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-Regular";
  src: url("fonts/TSTARPRO-Regular.eot");
  src: url("fonts/TSTARPRO-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-Regular.woff") format("woff"), url("fonts/TSTARPRO-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*
Modal
 */
/****************
@import components
 ****************/
body {
  font-family: "TSTARPRO-Regular", "Roboto", "Open Sans", sans-serif !important;
}
body .page-container {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 2rem;
}
@media (max-width: 960px) {
  body .page-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

h1 {
  font-size: 30px !important;
  font-family: "TSTARPRO-Light", "Roboto", "Open Sans", sans-serif !important;
}

/*
Star Icons
 */
.favoris {
  width: 1rem;
  height: 1.5rem;
  background: no-repeat url("../../assets/icons/etoile-jaune.png");
}

.pas-favoris {
  width: 1rem;
  height: 1.5rem;
  background: no-repeat url("../../assets/icons/etoile-jaune-vide.png");
}

.morningStar {
  width: 1rem;
  height: 1.5rem;
  background: no-repeat url("../../assets/icons/etoile-pleine copie-secondaire.png");
  display: inline-block;
  padding: 0 3px;
}

.morningStarEmpty {
  width: 1rem;
  height: 1.5rem;
  background: no-repeat url("../../assets/icons/etoile-vide-secondaire.png");
  display: inline-block;
  padding: 0 3px;
}

header.header-top {
  box-shadow: none;
  background: none;
}
header.header-top .header-container {
  background-color: #fafafa;
  border-bottom: 2px solid #a4917e;
  padding-left: 3rem;
}
header.header-top .header-container .header-main-grid {
  padding: 1rem 2rem;
}
header.header-top .header-container .header-main-grid .header-connexion {
  text-align: end;
}

#main-menu .MuiMenu-paper {
  border-radius: 0;
}
#main-menu .MuiMenu-paper .MuiMenu-list {
  background: #edeae6;
  padding: 0;
}
#main-menu .MuiMenu-paper .MuiMenu-list li {
  font-family: "TSTARPRO-Light", "Roboto", "Open Sans", sans-serif !important;
  font-size: 14px;
  padding: 1rem 5rem 1rem 1rem;
  text-transform: uppercase;
}
#main-menu .MuiMenu-paper .MuiMenu-list li:hover {
  background-color: #a4917e;
  color: white;
}

.header-search-bar {
  background-color: #d4c8bb;
  margin-left: 5rem;
  position: relative;
  color: black;
}
@media (max-width: 960px) {
  .header-search-bar {
    margin-left: 0;
  }
}
.header-search-bar .header-search-container {
  padding: 2rem;
}
.header-search-bar .header-search-container .header-search-filter label, .header-search-bar .header-search-container .header-search-filter .MuiFormControlLabel-label {
  font-family: "TSTARPRO-Light", "Roboto", "Open Sans", sans-serif !important;
  font-size: 15px;
}
.header-search-bar .header-search-container .header-search-filter .header-search-label {
  display: inline-flex;
  align-items: center;
  margin-right: 2rem;
  color: black;
}
.header-search-bar .header-search-container .header-search-filter .Mui-checked {
  color: #a4917e !important;
}
.header-search-bar .header-search-container .header-search-input {
  flex-wrap: nowrap;
}
.header-search-bar .header-search-container .header-search-input .header-search-field {
  background-color: white;
  padding: 5px 10px;
}
.header-search-bar .header-search-container .header-search-input .header-search-icon {
  height: auto;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a4917e;
}
.header-search-bar .header-search-container .header-search-input .header-search-icon svg {
  font-size: 2rem;
  color: white;
}

.header-tab-container .header-tab-item {
  background-color: #a4917e;
}
.header-tab-container .header-tab-item.Mui-selected {
  border: 2px solid #a4917e;
  border-top: 0;
  background-color: white;
}
.header-tab-container .header-tab-item.Mui-selected span {
  color: #a4917e;
  font-family: "TSTARPRO-Bold", "Roboto", "Open Sans", sans-serif !important;
  font-size: 18px;
}
.header-tab-container .header-tab-item span {
  color: white;
  font-family: "TSTARPRO-Bold", "Roboto", "Open Sans", sans-serif !important;
  font-size: 18px;
  flex-direction: row;
}
.header-tab-container .header-tab-item span svg {
  margin-right: 5px;
  margin-top: 5px;
  color: #efd567;
}
.header-tab-container .MuiTabs-indicator {
  display: none;
}

.title-logo {
  margin-right: 1rem;
  margin-left: 1rem;
}
.title-logo + div h1 {
  text-transform: uppercase;
  line-height: 1.1;
}
.title-logo + div h1 span {
  color: #a4917e;
  font-family: "TSTARPRO-Bold", "Roboto", "Open Sans", sans-serif !important;
}

.table-root {
  width: 100%;
  overflow-x: auto;
}
.table-root table.table-main {
  margin: 2rem 0;
  min-width: 600px;
}
.table-root table.table-main thead tr th {
  font-size: 15px;
  font-family: "TSTARPRO-Bold", "Roboto", "Open Sans", sans-serif !important;
}
.table-root table.table-main thead tr th .active {
  color: #a4917e;
}
.table-root table.table-main thead tr th .active svg {
  color: #a4917e !important;
}
.table-root table.table-main tbody tr:nth-child(odd) {
  background-color: #edebe8;
}
.table-root table.table-main tbody tr td {
  font-size: 15px;
  font-family: "TSTARPRO-Light", "Roboto", "Open Sans", sans-serif !important;
  text-transform: uppercase;
  border-right: 1px solid #d4c8bb;
  border-bottom: none;
}
.table-root table.table-main tbody tr td.table-stars {
  min-width: 120px;
}
.table-root table.table-main tbody tr td .MuiGrid-container {
  flex-wrap: nowrap;
}
.table-root table.table-main tbody tr td .MuiGrid-container > div {
  padding: 0 5px;
}
.table-root table.table-main tbody tr td.doc {
  text-align: center;
}
.table-root table.table-main tbody tr td.doc img {
  padding: 0 10px;
}
.table-root table.table-main.modal {
  min-width: auto;
}
.table-root table.table-main.modal thead tr th {
  font-family: "TSTARPRO-Light", "Roboto", "Open Sans", sans-serif !important;
}
.table-root table.table-main.modal thead tr th:nth-child(odd) {
  background-color: #c8bfb6;
}
.table-root table.table-main.modal thead tr th:nth-child(even) {
  background-color: #e3ded8;
}
.table-root table.table-main.modal tbody tr td {
  font-family: "TSTARPRO-Bold", "Roboto", "Open Sans", sans-serif !important;
}
.table-root table.table-main.modal tbody tr td:nth-child(odd) {
  background-color: #c8bfb6;
}
.table-root table.table-main.modal tbody tr td:nth-child(even) {
  background-color: #e3ded8;
}

.modal .MuiDialog-paper {
  background: rgba(178, 165, 152, 0.5);
  padding: 40px;
}
.modal .MuiDialog-paper .modal-container {
  background: #edeae6;
}
.modal .MuiDialog-paper .modal-container .modal-title {
  padding-top: 0;
}
.modal .MuiDialog-paper .modal-container .modal-title h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "TSTARPRO-Bold", "Roboto", "Open Sans", sans-serif !important;
}
.modal .MuiDialog-paper .modal-container svg {
  position: absolute;
  top: 60px;
  right: 60px;
  font-size: 2rem;
  color: #a4917e;
}
.modal .MuiDialog-paper .modal-container .modal-sections-container {
  margin-bottom: 2rem;
}
.modal .MuiDialog-paper .modal-container .modal-sections-container .modal-section .top {
  border-bottom: 2px solid #a4917e;
  padding-bottom: 1rem;
}
.modal .MuiDialog-paper .modal-container .modal-sections-container .modal-section .bottom {
  padding-top: 2rem;
}
@media (max-width: 960px) {
  .modal .MuiDialog-paper .modal-container .modal-sections-container .modal-section .bottom {
    border-bottom: 2px solid #a4917e;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
.modal .MuiDialog-paper .modal-container .modal-sections-container .first {
  border-right: 2px solid #a4917e;
}
@media (max-width: 960px) {
  .modal .MuiDialog-paper .modal-container .modal-sections-container .first {
    border: none;
  }
}
@media (max-width: 960px) {
  .modal .MuiDialog-paper .modal-container .modal-sections-container .second .bottom:last-of-type {
    border: none;
  }
}
.modal .MuiDialog-paper .modal-container .modal-sections-container .first .item, .modal .MuiDialog-paper .modal-container .modal-sections-container .second .item {
  padding: 0 2rem;
}
.modal .MuiDialog-paper .modal-container .modal-sections-container .first .item .modal-subtitle, .modal .MuiDialog-paper .modal-container .modal-sections-container .second .item .modal-subtitle {
  font-size: 25px;
  font-family: "TSTARPRO-Light", "Roboto", "Open Sans", sans-serif !important;
  text-transform: uppercase;
}
.modal .MuiDialog-paper .modal-container .modal-sections-container .first .item .modal-subtitle span, .modal .MuiDialog-paper .modal-container .modal-sections-container .second .item .modal-subtitle span {
  color: #a4917e;
  font-family: "TSTARPRO-Bold", "Roboto", "Open Sans", sans-serif !important;
}
.modal .MuiDialog-paper .modal-container .modal-sections-container .first .item ul.modal-list li p:first-child, .modal .MuiDialog-paper .modal-container .modal-sections-container .second .item ul.modal-list li p:first-child {
  min-width: 70%;
  font-family: "TSTARPRO-Light", "Roboto", "Open Sans", sans-serif !important;
}
.modal .MuiDialog-paper .modal-container .modal-sections-container .first .item ul.modal-list li span, .modal .MuiDialog-paper .modal-container .modal-sections-container .second .item ul.modal-list li span {
  font-family: "TSTARPRO-Light", "Roboto", "Open Sans", sans-serif !important;
}
.modal .MuiDialog-paper .modal-container .modal-sections-container .first .item ul.modal-list li span.esg, .modal .MuiDialog-paper .modal-container .modal-sections-container .second .item ul.modal-list li span.esg {
  color: #efd567;
  font-size: 20px;
}
.modal .MuiDialog-paper .modal-container .modal-sections-container .first .item ul.modal-list li span.risque, .modal .MuiDialog-paper .modal-container .modal-sections-container .second .item ul.modal-list li span.risque {
  color: orange;
  font-family: "TSTARPRO-Bold", "Roboto", "Open Sans", sans-serif !important;
}
.modal .MuiDialog-paper .modal-container .modal-sections-container .first .item ul.modal-list.secondaire li span, .modal .MuiDialog-paper .modal-container .modal-sections-container .second .item ul.modal-list.secondaire li span {
  font-family: "TSTARPRO-Bold", "Roboto", "Open Sans", sans-serif !important;
}
.modal .MuiDialog-paper .modal-container .document-link, .modal .MuiDialog-paper .modal-container .search-link {
  text-align: right;
}
.modal .MuiDialog-paper .modal-container .modal-paragraphe {
  padding: 1rem;
  line-height: 2;
  font-family: "TSTARPRO-Light", "Roboto", "Open Sans", sans-serif !important;
}

/*# sourceMappingURL=main.css.map */
