/****************
@import variables
 ****************/
@font-face {
  font-family: "TSTARPRO-Bold";
  src: url("fonts/TSTARPRO-Bold.eot");
  src: url("fonts/TSTARPRO-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-Bold.woff") format("woff"), url("fonts/TSTARPRO-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-BoldItalic";
  src: url("fonts/TSTARPRO-BoldItalic.eot");
  src: url("fonts/TSTARPRO-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-BoldItalic.woff") format("woff"), url("fonts/TSTARPRO-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-Headline";
  src: url("fonts/TSTARPRO-Headline.eot");
  src: url("fonts/TSTARPRO-Headline.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-Headline.woff") format("woff"), url("fonts/TSTARPRO-Headline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-Italic";
  src: url("fonts/TSTARPRO-Italic.eot");
  src: url("fonts/TSTARPRO-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-Italic.woff") format("woff"), url("fonts/TSTARPRO-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-Light";
  src: url("fonts/TSTARPRO-Light.eot");
  src: url("fonts/TSTARPRO-Light.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-Light.woff") format("woff"), url("fonts/TSTARPRO-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-LightItalic";
  src: url("fonts/TSTARPRO-LightItalic.eot");
  src: url("fonts/TSTARPRO-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-LightItalic.woff") format("woff"), url("fonts/TSTARPRO-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-Medium";
  src: url("fonts/TSTARPRO-Medium.eot");
  src: url("fonts/TSTARPRO-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-Medium.woff") format("woff"), url("fonts/TSTARPRO-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-MediumItalic";
  src: url("fonts/TSTARPRO-MediumItalic.eot");
  src: url("fonts/TSTARPRO-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-MediumItalic.woff") format("woff"), url("fonts/TSTARPRO-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TSTARPRO-Regular";
  src: url("fonts/TSTARPRO-Regular.eot");
  src: url("fonts/TSTARPRO-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/TSTARPRO-Regular.woff") format("woff"), url("fonts/TSTARPRO-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/****************
@import components
 ****************/
body {
  font-family: "TSTARPRO-Regular", "Roboto", "Open Sans", sans-serif;
}
body .page-container {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 2rem;
}
@media (max-width: 768px) {
  body .page-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

h1 {
  font-size: 30px !important;
  font-family: "TSTARPRO-Light", "Roboto", "Open Sans", sans-serif !important;
}

header.header-top {
  box-shadow: none;
  background: none;
}
header.header-top .header-container {
  background-color: #fafafa;
  border-bottom: 2px solid #a4917e;
  padding-left: 3rem;
}
header.header-top .header-container .header-main-grid {
  padding: 1rem 2rem;
}
header.header-top .header-container .header-main-grid .header-connexion {
  text-align: end;
}

.header-search-bar {
  background-color: #d4c8bb;
  margin-left: 5rem;
  position: relative;
  color: black;
}
@media (max-width: 768px) {
  .header-search-bar {
    margin-left: 0;
  }
}
.header-search-bar .header-search-container {
  padding: 2rem;
}
.header-search-bar .header-search-container .header-search-filter label, .header-search-bar .header-search-container .header-search-filter .MuiFormControlLabel-label {
  font-family: "TSTARPRO-Light", "Roboto", "Open Sans", sans-serif !important;
  font-size: 15px;
}
.header-search-bar .header-search-container .header-search-filter .header-search-label {
  display: inline-flex;
  align-items: center;
  margin-right: 2rem;
  color: black;
}
.header-search-bar .header-search-container .header-search-filter .Mui-checked {
  color: #a4917e !important;
}
.header-search-bar .header-search-container .header-search-input {
  flex-wrap: nowrap;
}
.header-search-bar .header-search-container .header-search-input .header-search-field {
  background-color: white;
  padding: 5px 10px;
}
.header-search-bar .header-search-container .header-search-input .header-search-icon {
  height: auto;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a4917e;
}
.header-search-bar .header-search-container .header-search-input .header-search-icon svg {
  font-size: 2rem;
  color: white;
}

.header-tab-container .header-tab-item {
  background-color: #a4917e;
}
.header-tab-container .header-tab-item.Mui-selected {
  border: 2px solid #a4917e;
  border-top: 0;
  background-color: white;
}
.header-tab-container .header-tab-item.Mui-selected span {
  color: #a4917e;
  font-family: "TSTARPRO-Bold", "Roboto", "Open Sans", sans-serif;
  font-size: 18px;
}
.header-tab-container .header-tab-item span {
  color: white;
  font-family: "TSTARPRO-Bold", "Roboto", "Open Sans", sans-serif;
  font-size: 18px;
  flex-direction: row;
}
.header-tab-container .header-tab-item span svg {
  margin-right: 5px;
  margin-top: 5px;
  color: #efd567;
}
.header-tab-container .MuiTabs-indicator {
  display: none;
}

.title-logo {
  margin-right: 1rem;
}
.title-logo + div h1 {
  text-transform: uppercase;
}
.title-logo + div h1 span {
  color: #a4917e;
  font-family: "TSTARPRO-Bold", "Roboto", "Open Sans", sans-serif;
}

table.table-main {
  margin: 2rem 0;
}
table.table-main thead tr th {
  font-size: 15px;
  font-family: "TSTARPRO-Bold", "Roboto", "Open Sans", sans-serif;
}
table.table-main thead tr th .active {
  color: #a4917e;
}
table.table-main thead tr th .active svg {
  color: #a4917e !important;
}
table.table-main tbody tr:nth-child(odd) {
  background-color: #edebe8;
}
table.table-main tbody tr td {
  font-size: 15px;
  font-family: "TSTARPRO-Light", "Roboto", "Open Sans", sans-serif !important;
  text-transform: uppercase;
}
table.table-main tbody tr td.table-stars {
  padding: 0;
  min-width: 135px;
}
table.table-main tbody tr td .MuiGrid-container {
  flex-wrap: nowrap;
}
table.table-main tbody tr td .MuiGrid-container > div {
  padding: 0 5px;
}

/*# sourceMappingURL=main.css.map */
